[submodule "izrada-web-stranice-web-shop-bmartin86"]
	path = izrada-web-stranice-web-shop-bmartin86
	url = https://github.com/Trokut-Neet-Akademija-4-0/izrada-web-stranice-web-shop-bmartin86.git
[submodule "oblutak-web-stranica-19-02-2024-bmartin86"]
	path = oblutak-web-stranica-19-02-2024-bmartin86
	url = https://github.com/bmartin86/oblutak-web-stranica-19-02-2024-bmartin86.git
